<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>
    <!--Beautify 
        Ctrl+Shift+I      Linux
        Shift + Alt + F   Windows -->
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">


</head>

<body>

    <div class="container pt-5" id="app">
        <div class="row mb-3">
            <div class="col">
                <h1>Cars application</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find your car</label>
                    <input type="text" 
                           class="form-control" 
                           id="search" 
                           placeholder="Model"
                           v-model="search">{{search}}
                    <hr>
                    <ul class="list-group">
                        <li v-for="(car, index) in filteredCars" 
                            class="list-group-item list-group-item-action pointer"
                            v-on:click="selectCar(index)" 
                            v-bind:class="{'active': selectedCarIndex === index}">
                            {{ car.name }} - {{ car.model }}
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ car.name }}</h2>
                        <img :src="car.image" v-bind:alt="car.name" class="rounded detailed-car-image">
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>Car details</h5>
                        <ul>
                            <li>Model <strong>{{car.model}}</strong></li>
                            <li>Year <strong>{{car.year}}</strong></li>
                            <li>Owner <strong>{{car.owner}}</strong></li>

                        </ul>
                        <div class="phoneBlock">
                        <p v-if="phoneVisibility">{{car.phone}}</p>
                    </div>
                        <button class="btn btn-outline-success" mr-3 v-on:click="phoneVisibility = !phoneVisibility"
                        v-text="PhoneBtnText"></button>
                        <button class="btn btn-primary">Buy</button>

                    </div>

                </div>
            </div>
        </div>



    </div>






    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>

</body>

</html>